.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.999087;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.942871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.860000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.943359;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-3.776226px;}
._a{margin-left:-1.351528px;}
._7{width:4.146753px;}
._8{width:6.383350px;}
._5{width:8.040425px;}
._6{width:9.157021px;}
._13{width:12.201646px;}
._12{width:14.855083px;}
._10{width:20.697825px;}
._11{width:22.523779px;}
._14{width:24.253982px;}
._3{width:32.382056px;}
._4{width:34.010996px;}
._15{width:35.567529px;}
._c{width:38.033389px;}
._b{width:39.177981px;}
._d{width:45.162146px;}
._f{width:47.108101px;}
._e{width:48.220410px;}
._0{width:50.688000px;}
._1{width:61.792000px;}
._2{width:63.416000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(33,33,33);}
.fs4{font-size:60.000000px;}
.fs1{font-size:64.000000px;}
.fs2{font-size:84.000000px;}
.fs6{font-size:104.000000px;}
.fsa{font-size:108.000000px;}
.fs8{font-size:112.000000px;}
.fs3{font-size:116.000000px;}
.fs5{font-size:120.000000px;}
.fs9{font-size:128.000000px;}
.fs7{font-size:152.000000px;}
.fs0{font-size:320.000000px;}
.y0{bottom:0.000000px;}
.y1a{bottom:58.209743px;}
.yf{bottom:58.631622px;}
.y21{bottom:59.053501px;}
.y25{bottom:59.475382px;}
.y1e{bottom:59.897261px;}
.y9{bottom:63.739157px;}
.y2b{bottom:161.590034px;}
.y19{bottom:168.294930px;}
.ye{bottom:175.926277px;}
.y18{bottom:188.994926px;}
.y8{bottom:195.737206px;}
.y2a{bottom:198.850044px;}
.y17{bottom:209.694923px;}
.y24{bottom:210.540657px;}
.yd{bottom:215.946297px;}
.y7{bottom:217.817207px;}
.y16{bottom:230.394920px;}
.y1d{bottom:231.163155px;}
.y29{bottom:236.110054px;}
.y1{bottom:238.852654px;}
.y6{bottom:239.897224px;}
.y15{bottom:251.094933px;}
.y1f{bottom:252.169373px;}
.y23{bottom:254.700653px;}
.yc{bottom:255.966293px;}
.y20{bottom:256.388161px;}
.y5{bottom:261.977226px;}
.y14{bottom:271.794930px;}
.y1c{bottom:272.563141px;}
.y28{bottom:273.370064px;}
.y4{bottom:284.057228px;}
.y13{bottom:292.494926px;}
.yb{bottom:295.986298px;}
.y22{bottom:298.860649px;}
.y3{bottom:306.137226px;}
.y27{bottom:310.630066px;}
.y12{bottom:313.194923px;}
.y1b{bottom:313.963139px;}
.y2{bottom:328.217224px;}
.y11{bottom:333.894924px;}
.ya{bottom:336.006290px;}
.y26{bottom:348.694424px;}
.y10{bottom:354.594921px;}
.h5{height:43.974609px;}
.h2{height:46.875000px;}
.h3{height:55.944000px;}
.h7{height:87.152000px;}
.hb{height:90.504000px;}
.h9{height:93.856000px;}
.h4{height:97.208000px;}
.h6{height:100.560000px;}
.ha{height:107.264000px;}
.h8{height:127.376000px;}
.h1{height:268.160000px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x10{left:32.378906px;}
.xf{left:42.040527px;}
.x9{left:43.198822px;}
.x14{left:67.742126px;}
.x2{left:77.742126px;}
.xd{left:81.407959px;}
.x3{left:103.742126px;}
.x5{left:107.242126px;}
.x7{left:115.198822px;}
.x6{left:139.742126px;}
.xc{left:177.619431px;}
.x15{left:179.143051px;}
.x12{left:180.853210px;}
.xa{left:205.056595px;}
.x1{left:222.877686px;}
.x11{left:227.711029px;}
.xe{left:233.154114px;}
.x13{left:238.526428px;}
.x4{left:246.375031px;}
.x8{left:259.017059px;}
.xb{left:326.942352px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-5.034967pt;}
._a{margin-left:-1.802038pt;}
._7{width:5.529004pt;}
._8{width:8.511133pt;}
._5{width:10.720566pt;}
._6{width:12.209362pt;}
._13{width:16.268861pt;}
._12{width:19.806777pt;}
._10{width:27.597100pt;}
._11{width:30.031706pt;}
._14{width:32.338643pt;}
._3{width:43.176074pt;}
._4{width:45.347995pt;}
._15{width:47.423372pt;}
._c{width:50.711185pt;}
._b{width:52.237308pt;}
._d{width:60.216195pt;}
._f{width:62.810801pt;}
._e{width:64.293880pt;}
._0{width:67.584000pt;}
._1{width:82.389333pt;}
._2{width:84.554667pt;}
.fs4{font-size:80.000000pt;}
.fs1{font-size:85.333333pt;}
.fs2{font-size:112.000000pt;}
.fs6{font-size:138.666667pt;}
.fsa{font-size:144.000000pt;}
.fs8{font-size:149.333333pt;}
.fs3{font-size:154.666667pt;}
.fs5{font-size:160.000000pt;}
.fs9{font-size:170.666667pt;}
.fs7{font-size:202.666667pt;}
.fs0{font-size:426.666667pt;}
.y0{bottom:0.000000pt;}
.y1a{bottom:77.612991pt;}
.yf{bottom:78.175496pt;}
.y21{bottom:78.738002pt;}
.y25{bottom:79.300509pt;}
.y1e{bottom:79.863014pt;}
.y9{bottom:84.985542pt;}
.y2b{bottom:215.453379pt;}
.y19{bottom:224.393239pt;}
.ye{bottom:234.568370pt;}
.y18{bottom:251.993235pt;}
.y8{bottom:260.982941pt;}
.y2a{bottom:265.133392pt;}
.y17{bottom:279.593231pt;}
.y24{bottom:280.720876pt;}
.yd{bottom:287.928396pt;}
.y7{bottom:290.422943pt;}
.y16{bottom:307.193227pt;}
.y1d{bottom:308.217539pt;}
.y29{bottom:314.813405pt;}
.y1{bottom:318.470205pt;}
.y6{bottom:319.862966pt;}
.y15{bottom:334.793243pt;}
.y1f{bottom:336.225830pt;}
.y23{bottom:339.600871pt;}
.yc{bottom:341.288391pt;}
.y20{bottom:341.850881pt;}
.y5{bottom:349.302968pt;}
.y14{bottom:362.393239pt;}
.y1c{bottom:363.417521pt;}
.y28{bottom:364.493418pt;}
.y4{bottom:378.742971pt;}
.y13{bottom:389.993235pt;}
.yb{bottom:394.648397pt;}
.y22{bottom:398.480865pt;}
.y3{bottom:408.182968pt;}
.y27{bottom:414.173421pt;}
.y12{bottom:417.593231pt;}
.y1b{bottom:418.617518pt;}
.y2{bottom:437.622965pt;}
.y11{bottom:445.193232pt;}
.ya{bottom:448.008387pt;}
.y26{bottom:464.925898pt;}
.y10{bottom:472.793228pt;}
.h5{height:58.632812pt;}
.h2{height:62.500000pt;}
.h3{height:74.592000pt;}
.h7{height:116.202667pt;}
.hb{height:120.672000pt;}
.h9{height:125.141333pt;}
.h4{height:129.610667pt;}
.h6{height:134.080000pt;}
.ha{height:143.018667pt;}
.h8{height:169.834667pt;}
.h1{height:357.546667pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x10{left:43.171875pt;}
.xf{left:56.054036pt;}
.x9{left:57.598429pt;}
.x14{left:90.322835pt;}
.x2{left:103.656169pt;}
.xd{left:108.543945pt;}
.x3{left:138.322835pt;}
.x5{left:142.989502pt;}
.x7{left:153.598429pt;}
.x6{left:186.322835pt;}
.xc{left:236.825907pt;}
.x15{left:238.857402pt;}
.x12{left:241.137614pt;}
.xa{left:273.408793pt;}
.x1{left:297.170247pt;}
.x11{left:303.614705pt;}
.xe{left:310.872152pt;}
.x13{left:318.035238pt;}
.x4{left:328.500041pt;}
.x8{left:345.356079pt;}
.xb{left:435.923136pt;}
}
